################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InterviewCodingPractice/.vs/InterviewCodingPractice
/InterviewCodingPractice/PractiseSets/PractiseQuestions/.vs/PractiseQuestions
/InterviewCodingPractice/PractiseSets/PractiseQuestions/PractiseQuestions/obj
/InterviewCodingPractice/PractiseSets/PractiseQuestions/PractiseQuestions/bin/Debug/net9.0
/InterviewCodingPractice/PractiseSets/PractiseQuestions/.vs/ProjectEvaluation
/InterviewCodingPractice/SQL/SQLInterviewQuestions/.vs/SQLInterviewQuestions
/InterviewCodingPractice/SQL/SQLInterviewQuestions/SQLInterviewQuestions/obj/Debug
